body {
  background-color: #1a1a1a;
  color: white;
  font-family: Arial, sans-serif;
}

#tablaElementos {
  width: 100%;
  border-collapse: collapse;
  background-color: #333;
  color: #ff6347;
}

#tablaElementos th,
#tablaElementos td {
  border: 1px solid #444;
  padding: 12px;
  text-align: left;
}

#tablaElementos th {
  background-color: #222;
  color: #ddd;
  text-transform: lowercase;
}

#filtro {
  margin: 20px 0;
  padding: 10px;
  width: 300px;
  font-size: 16px;
  background-color: #333;
  color: white;
  border: 1px solid #444;
}

button {
  background-color: #444;
  color: white;
  border: 1px solid #555;
  padding: 5px 10px;
  cursor: pointer;
  margin-right: 5px;
}

button:hover {
  background-color: #555;
}

/* Estilos del Navbar */
.navbar {
  width: 100%;
  background-color: #333;
  font-family: Arial, sans-serif;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.navbar li {
  float: left;
}

.navbar li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.navbar li a:hover:not(.active) {
  background-color: #111;
}

.navbar li.right {
  float: right;
}

.navbar li a.active {
  background-color: #04AA6D;
  color: white;
  font-weight: bold;
}

body .swal2-container .swal2-popup {
  background-color: #1a1a1a;
  color: #ddd;
  border: 1px solid #444;
  border-radius: 8px;
  font-family: Arial, sans-serif;
}

body .swal2-container .swal2-title {
  color: #ff6347;
  font-size: 24px;
  margin-bottom: 20px;
}

.formulario-edicion-personalizado {
    padding: 10px;
}

.formulario-edicion-personalizado label {
  display: block;
  margin-top: 15px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #bbb;
  text-align: left;
  font-size: 14px;
  text-transform: capitalize;
}

.formulario-edicion-personalizado .entrada-edicion {
  background-color: #333;
  color: #ff6347;
  border: 1px solid #444;
  padding: 10px 12px;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 10px;
  font-size: 16px;
  border-radius: 4px;
  display: block;
}

.formulario-edicion-personalizado .entrada-edicion:focus {
  border-color: #ff6347;
  outline: none;
  box-shadow: 0 0 5px rgba(255, 99, 71, 0.4);
}

body .swal2-container .swal2-confirm {
  background-color: #ff6347;
  color: white;
  border-radius: 4px;
  padding: 10px 25px;
}

body .swal2-container .swal2-cancel {
  background-color: #444;
  color: #ddd;
  border-radius: 4px;
  padding: 10px 25px;
}


